# .NET / Visual Studio / MAUI
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.ilk
*.obj
*.idb
*.dll
*.exe
*.msi
*.appx
*.appxbundle
*.msix
*.msixbundle
*.winmd
*.pri

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# IDEs
.vs/
.idea/
.vscode/
.github/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# MAUI / Windows specific
**/publish/
JellyfinMauiClient/Platforms/Windows/AppPackages/
JellyfinMauiClient/Platforms/Windows/BundleArtifacts/

# Local release folder
/release/
/Release/

# Installer artifacts (Squirrel)
/installer/dist/
/installer/tools/squirrel.exe
Setup.exe

# Temporary/backup files
*.tmp
*.bak
*.old
~$*
